# Ignore node_modules directory in the backend folder
/backend/node_modules

# Ignore any built files in the backend folder
/backend/build

# Ignore development logs in the backend folder
/backend/npm-debug.log
/backend/yarn-error.log

# Ignore environment-specific files in the backend folder
/backend/.env

# OS-specific files in the backend folder
/backend/.DS_Store
/backend/Thumbs.db
